Checkend returning wrong output

Checkend returning wrong output for one of the certificates.

<img width="555" alt="Screenshot 2022-06-03 at 19 45 29" src="https://user-images.githubusercontent.com/19716541/172153740-a39bd668-0cde-46f6-9134-624abbddb881.png">

I am using LibreSSL 2.8.3

Cert file: 
[cert.txt](https://github.com/libressl-portable/portable/files/8844121/cert.txt)



On a current release of LibreSSL you would get:

```
$ openssl x509 -checkend 2139264020 -in cert.txt
Certificate expiry time is invalid
```

This is due to the encoding of the certificate validity being in violation of RFC 5280 section 4.1.2.5:

  https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.5

```
$ openssl asn1parse -inform pem -in cert.txt
...
  190:d=2  hl=2 l=  34 cons: SEQUENCE          
  192:d=3  hl=2 l=  15 prim: GENERALIZEDTIME   :20190318151423Z
  209:d=3  hl=2 l=  15 prim: GENERALIZEDTIME   :20290315151423Z
```

Dates prior to 2050 MUST be encoded as `UTCTIME`, while dates from 2050 MUST be encoded as `GENERALIZEDTIME`.