Domain name with underscore character is considered invalid.

Checked on latest release 3.6.2.

`tlsext_sni_is_valid_hostname(CBS *cbs, int *is_ip)` from ssl_tlsext.c returns 0 for domain name `dev_cdn.example.com`. It thinks that underscore is an invalid character in domain name. I haven't found why it's disallowed to have underscore in RFC 6066 and RFC 5890. Could you explain me why it works as it works?

Right now I can't connect to main domain using curl due to this error.

I think the reason is RFC 1035 where it started. Do you still face this problem?

Hi @molind,

[Section 2.3.1 of RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.1) states that domain names must start with a letter, end with a letter or digit, and can only contain letters (a-z), digits (0-9), or hyphens. Underscores are explicitly excluded from the allowed characters in domain names.

As such, the behaviour of `tlsext_sni_is_valid_hostname(CBS *cbs, int *is_ip)` seems correct.